extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Ashwamin недорого. Цены, отзывы. Закажите Ashwamin сейчас!";
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,400,400i,500,700,900|Montserrat:400,500,700,900&display=swap&subset=cyrillic")

append content
  include components/header
  section.promo.bg
    include components/promo
  include components/hit
  include components/section2
  include components/section3
  include components/update
  include components/zakaz.html
  include components/simile
  include components/efficiency
  include components/verification
  include components/doctor
  include components/zakaz.html
  include components/reviews
  include components/use
  include components/order-info
  include components/check
  section.promo-end.bg
    include components/promo
  include components/footer.html
  include components/popup
  include components/wPopup.html

append scripts
  script(src="https://179523.selcdn.ru/public/prod-scripts/cis_footer.js")
  script(src="https://179523.selcdn.ru/public/delivery-banner/banner.js")
