.check.block
  .container
    h2.title Внимание! &nbsp;
      span.color-red Остерегайтесь подделок!
    .check-info
      .check-info__text
        p С ростом популярности Ashwamin на рынке СНГ, участились случаи подделок. Наш же продукт продается в оригинальной упаковке с уникальным регистрационным кодом! Найдите код на упаковке и проверьте подлинность Ashwamin.
        p.attention Отправьте DAT-код по СМС на номер 3888, в ответ получите информацию о подлинности товара.
          .block-shadow
            p Проверьте, что услуга отправки смс на короткий номер не отключена. Бесплатные СМС на номер 3888 подключены в РФ, Армении и Беларуси.
            p
              span.tdund Только первая проверка
              strong &nbsp;подтверждает подлинность. Только для товаров, защищенных Системой DAT.
      .check-info__img
        .info-img-wrap
          img(src="img/pack.png", alt="")

