section.doctor.section-bg.block
	.container
		h2.title Эксперты рекомендуют Ashwamin
		h3.doctor__subtitle «Теперь от  паразитов можно очиститься быстро и без вреда для организма»
		.doctor-info
			p.doctor__text Ко мне часто обращаются с просьбой порекомендовать препарат для очищения организма от паразитов. Ведь таких средств очень много и&nbsp;сложно разобраться, какое хорошее, а какое нет.
			p.doctor__text
				span.text-bold Я рекомендую один препарат, которому доверяю свое здоровье сам — Ashwamin.
			p.doctor__text Этот препарат 
				span.text-bold создан на основе ашваганды, 
				| удивительного растения, которым от паразитов пользуются люди в Азии уже очень долгое время.
			p.doctor__text Это средство абсолютно безопасно и&nbsp;нетоксично, не убивает микрофлору кишечника, не&nbsp;вредит печени и&nbsp;при этом  
				span.text-bold уничтожает и&nbsp;выводит всех паразитов, поднимает иммунитет организма и&nbsp;защищает от повторного заражения.

			.doctor-sign
				img.doctor-sert(src="img/doctor-sert.jpg", alt="certificate")
				.doctor-box
					h4.doctor__name Николай Наумов
					p.doctor__prof врач-терапевт
					img(src="img/doctor-sign.png", alt="sign")