section.efficiency.block
  .container
    .efficiency-info
      h2.title Сила ашваганды от паразитов
      .efficiency-info__content
        .efficiency-info__text
          p Ашваганда обладает уникальными свойствами за счет витанолидов, активных гормоноподобных структур.
          p
            | Среди витанолидов следует выделить&nbsp;
            strong Витаферин А,&nbsp;
            | который разрушает оболочки паразитов и тем самым убивает их.
          p
            strong Витанолиды не только убивают паразитов, но нейтрализуют токсины и яды, помогают организму восстановиться в самые короткие сроки.&nbsp;
            | Ученые исследовали длительное применение ашваганды&nbsp;
            strong и кроме избавления организма от паразитов, испытателям удалось избавиться от хронических заболеваний, улучшить общее состояние здоровья.&nbsp;
            | Случаи повторного заражения паразитами    не наблюдались даже спустя три месяца после тестов.
        .efficiency-info__img
          img(src="../img/efficiency_img.png", alt="")
    .efficiency-certificates
      h3.sub-title.mtac Эффективность подтверждена сертификатами:
      .efficiency-certificates__img
        img(src="img/sert1.jpg", alt="")
        img(src="img/sert2.jpg", alt="")
        img(src="img/sert3.jpg", alt="")
        img(src="img/sert4.jpg", alt="")
