section.hit.block
	.container
		h2.title Паразиты поражают жизненно важные органы&nbsp;человека
		ul.hit-list
			li.hit-item
				.hit-item__img
					img(src="img/hit-1.jpg", alt="hit")
				.hit-item__name 
					img(src="img/hit-name-1.png", alt="hit")
					h4.hit-item__title Кишечник
			li.hit-item
				.hit-item__img
					img(src="img/hit-2.jpg", alt="hit")
				.hit-item__name 
					img(src="img/hit-name-2.png", alt="hit")
					h4.hit-item__title Легкие
			li.hit-item
				.hit-item__img
					img(src="img/hit-3.jpg", alt="hit")
				.hit-item__name 
					img(src="img/hit-name-3.png", alt="hit")
					h4.hit-item__title Печень
			li.hit-item
				.hit-item__img
					img(src="img/hit-4.jpg", alt="hit")
				.hit-item__name 
					img(src="img/hit-name-4.png", alt="hit")
					h4.hit-item__title Поджелудочная
						br
						|  железа
		p.hit__attention Согласно статистике ВОЗ более 
			span.hit__attention--accent 87% людей заражены гельминтами  
			| и ежедневно их количество в&nbsp;организме растет
