.section.order-info.block.bg
  .container
    h2.title Как заказать Ashwamin
    .order-info__items
      .order-info__item
        img(src="img/order1.png", alt="")
        p Оставить заявку
          br
          | на сайте
      .order-info__item
        img(src="img/order2.png", alt="")
        p Ответить на звонок
          br
          | оператора
      .order-info__item
        img(src="img/order3.png", alt="")
        p Оплатить после
          br
          | получения
      .order-info__item
        img(src="img/order4.png", alt="")
        p Распрощаться
          br
          | с "непрошеными гостями"
