.container
	.promo-content
		.promo-product
			.promo-product__pack
				img(src="img/pack.png", alt="product")
			.promo__quality.promo-product__quality
				img(src="img/quality.png", alt="quality")
		.promo__info
			h1.promo__title.title Ashwamin
			h2.promo__subtitle Тройная сила для избавления и защиты от паразитов
			ul.promo-list
				li.promo-list__item Нормализует пищеварение,
					span.promo-list__item--small устраняя всех паразитов
				li.promo-list__item Избавляет от аллергии,
					span.promo-list__item--small нейтрализуя токсины и яды гельминтов
				li.promo-list__item Поднимает иммунитет,
					span.promo-list__item--small защищая организм от повторного заражения
			.promo__quality
				img(src="img/quality.png", alt="quality")
		.promo__form
			include form
