section.prod-info.block.bg
  .container
    h1.title Ashwamin – комбинация тысячелетнего опыта и современных технологий
    .prod-info-content
      .prod-info__img
        img(src="../img/prod-info__img.png", alt="")
      .prod-info__desc
        p
          | Целительный эффект растения ашваганды ученые раскрыли недавно.
          | Они задались вопросом, почему
          strong
            | в азиатских странах, где люди живут в ужасных антисанитарных условиях, население заражено паразитами всего на 20%.
          | В то время, как в развитых странах процент зараженных достигает 87% человек.
          strong
            | Все дело в ашваганде (индийский женьшень),
          | которую регулярно принимают в странах Азии.
        p Ученые провели исследование этого удивительного растения и раскрыли его секрет. Ашваганда обладает тройным действием на организм:
        ul.prod-info__list
          li Убивает всех паразитов и выводит их из организма
          li Нейтрализует токсины и яды
          li Повышает иммунитет
        p
          | Благодаря современным технологиям состав
          strong
            | &nbsp;препарата Ashwamin
          | &nbsp;был дополнен и улучшен и на данный момент он
          strong
          | &nbsp;является лучшим в своем сегменте.
    .btn-wrap
      a.btn.wmincont(href="ever-popop-btn") Заказать

