section.effects.block
  .container
    h2.title Паразитарная инвазия грозит постановкой ошибочных диагнозов и проведением бесполезных процедур
    .invasion-effects
      .effects__item
        img(src="img/inv_effects1.jpg", alt="")
        h3.effects__item-title.sub-title Назначение курса антибиотиков:
        .effects__item-desc
          ul.effects__item-list
            li Снижение иммунитета организма
            li Нарушение работы внутренних органов
            li Возникновение побочных эффектов
      .effects__item
        img(src="img/inv_effects2.jpg", alt="")
        h3.effects__item-title.sub-title
          | Операция
          br.dn_767
          | на кишечнике:
        .effects__item-desc
          ul.effects__item-list
            li Возможные осложнения после операции
            li Сбой работы кишечника
            li Болезненный период реабилитации
      .effects__item
        img(src="img/inv_effects3.jpg", alt="")
        h3.effects__item-title.sub-title Назначение опасных лекарств:
        .effects__item-desc
          ul.effects__item-list
            li Серьезные побочные эффекты
            li Токсичность, негативное влияние на печень и почки
            li Ослабление защитных функций

