section.simile.block.bg
	.container
		h2.title Ashwamin – один препарат вместо трех
		ul.simile-list
			li.simile-item.simile-item__prod
				.simile-border
				.simile-pack
				h3.simile-item__title.text-center Ashwamin - комплекс
				ul.simile-product
					li.simile-product__item Выводит все виды гельминтов, их личинки и&nbsp;яйца
					li.simile-product__item Очищает организм от токсинов, ядов и продуктов жизнедеятельности паразитов  
					li.simile-product__item Восстанавливает микрофлору кишечника, нормализует работу всех органов, повышает иммунитет
			li.simile-item.simile-other-box
				.simile-other-pack
				h3.simile-item__title Комплекс из 3 средств
				ul.simile-other
					li.simile-other__item.simile-product__item Выводит глистов частично, не действует на яйца и личинки
					li.simile-other__item.simile-product__item Устраняет токсины и яды поверхностно, самочувствие улучшается не быстро
					li.simile-other__item.simile-product__item Способствует повышению иммунитета, не влияет на восстановление организма
