section.update.block
	.container
		h2.title Обнови свой организм!
		ul.update-list
			li.update-item
				.update-item__img
					img(src="img/update-1.png", alt="man")
				.update-item__name
					.update-item__ico
						img(src="img/update-ico-1.png", alt="update-ico")
					h3.update-item__title До приема препарата
				p.update-item__text 
					span.text-bold Плохое самочувствие 
					| по причине симптомов: слабость, депрессия, частые боли в животе, метеоризм, головные боли, хронические болезни, аллергия, кожные высыпания
			li.update-item
				.update-item__img
					img(src="img/update-2.png", alt="man")
				.update-item__name
					.update-item__ico.update-item__ico--time
						img(src="img/update-ico-2.png", alt="update-ico")
					h3.update-item__title Во время приема
				p.update-item__text Что происходит?  
					span.text-bold Препарат убивает всех паразитов и их личинки, 
					| выводит яды и токсины из организма, нормализует пищеварение, дарит бодрость и энергию
			li.update-item
				.update-item__img
					img(src="img/update-3.png", alt="man")
				.update-item__name
					.update-item__ico.update-item__ico--after
						img(src="img/update-ico-3.png", alt="update-ico")
					h3.update-item__title После курса лечения
				p.update-item__text  Вы здоровы и энергичны! Организм очистился от гельминтов,  
					span.text-bold сильный иммунитет защищает от повторного заражения,
					| исчезли хронические болезни, наладилось пищеварение
