section.use.block
  .container
    h1.title Как принимать Ashwamin
    .use-info
      .use-info__img
        .img_wrap
          img(src="img/pack.png", alt="")
      .use-info__text
        ul.use-info__list
          li.use-info__item За 40 минут до еды принимать
            br
            | по 1-2 капсулы 2 раза в день
          li.use-info__item Запивать стаканом чистой воды
          li.use-info__item Рекомендуемый курс от 30 дней

