section.use.block
  .container
    h2.title Как принимать Ashwamin
    .use-info
      .use-info__img
        .img_wrap
          img(src="img/pack.png", alt="")
      .use-info__text
        ul.use-info__list
          li.use-info__item
            p
              | За 40 минут до еды принимать 
              br
              span.nowrap по 1-2 капсулы 
              span.nowrap 2 раза в день
          li.use-info__item
            p Запивать стаканом 
              span.nowrap чистой воды
          li.use-info__item
            p Рекомендуемый курс 
              span.nowrap от 30 дней

