section.verification.block.bg
  .container
    h2.title Ashwamin протестирован и сертифицирован
    h3.sub-title
      | в Государственном институте клинических исследований&nbsp;
      span.attention 2526
      | &nbsp;человек прошли
      br
      | 1 курс препарата
    .verification-result
      .verification-result__item
        h4.verification-result__title Избавились от всех паразитов
        .verification-result__info
          img(src="img/res1.png", alt="")
      .verification-result__item
        h4.verification-result__title Не испытывали никаких побочных эффектов
        .verification-result__info
          img(src="img/res2.png", alt="")
      .verification-result__item
        h4.verification-result__title Избавились от всех хронических заболеваний
        .verification-result__info
          img(src="img/res3.png", alt="")
    p.attention.verification-result__title Спустя 2 месяца паразиты не были обнаружены ни у одного из участников тестирования препарата

